<!DOCTYPE html>
<html xmls:th="http://WWW.thymeleaf.org">
<head>
    <title>Películas</title>
</head>
<body>
<h1>Listado de Peliculas</h1>
<a href="/peliculas/nueva">Nueva Película</a>
<table border="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Género</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${peliculas}">
        <td th:text="${p.idPelicula}"></td>
        <td th:text="${p.titulo}"></td>
        <td th:text="${p.genero}"></td>
        <td th:text="${p.stock}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>